html, body, #root {
    height: 100%;
}
body{
  background-color: #fff;
}
.app{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app .app-header{
  background-color: #294C77;
  width: 100%;
  height: 4em;
  color: #fff;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .container{
  /*margin: 0 auto;*/
  padding: 0 10%;
  height: 100%;
}
.input {
    border: 1px solid #ccc;
    padding: 1%;
}
.button {
    background: #294C77;
    color: #fff;
    padding: 1%;
    border: 0px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.app .container .list-ul {
    padding-inline-start: 0px;
}
.app .container .list-ul li:nth-child(even){
  background-color: #ccc;
}
.app .container .list-ul li:first-child {
    border-top: 1px solid #ccc;
}
.app .container .list-ul .fizz, .app .container .list-ul .wizz {
    color: blue;
}
.app .container .list-ul .buzz, .app .container .list-ul .wuzz {
    color: green;
}
.app .container .list-ul li {
    list-style-type: none;
    margin: 0px 0px;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}
.error {
    color: red;
}
.pagination-wrapper {
    width: 100%;
    text-align: right;
}
.pagination-wrapper h4{
    margin: 0;
}
.page-numbers{
    display: flex;
    float: right;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
.page-numbers li.First,.page-numbers li.Last,.page-numbers li.Previous,.page-numbers li.Next{
  background-color: #294C77;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}
.page-numbers li.disabled {
  background-color: #739CCE;
  pointer-events: none;
  color: #ccc;
}
.page-numbers li {
    list-style: none;
    color: #294C77;
    padding: 4px;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
}
.page-numbers li.active {
    color: #000;
    font-weight: bold;
    border: 1px solid #294C77;
    border-radius: 5px;
    box-shadow: 2px 3px 4px -2px;
    background-color: #739CCE;
}